<a href="https://colab.research.google.com/github/cchio74/forgemaster/blob/master/lab03_LHC_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s=pd.Series(np.array([1,2,3,4,np.nan]))

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
len(s)

5

In [ ]:
s.shape

(5,)

In [ ]:
s.dtype

dtype('float64')

In [ ]:
s=pd.Series(data=[3,4,5],index=['A','B','C'])

In [ ]:
s

A    3
B    4
C    5
dtype: int64

In [ ]:
s.index=[1,2,3]
s

1    3
2    4
3    5
dtype: int64

In [ ]:
s.name='A'
s

1    3
2    4
3    5
Name: A, dtype: int64

In [ ]:
{1:100,'a':200}

{1: 100, 'a': 200}

In [ ]:
s=pd.Series({1:100,2:300,'a':500})
s

1    100
2    300
a    500
dtype: int64

In [ ]:
s.index.name='number'
s

number
1    100
2    300
a    500
dtype: int64

In [ ]:
pd.DataFrame(s)

          0
number
1       100
2       300
a       500

In [ ]:
date=pd.date_range('20200924',periods=3)

In [ ]:
s

number
1    100
2    300
a    500
dtype: int64

In [ ]:
s.index=date
s

2020-09-24    100
2020-09-25    300
2020-09-26    500
Freq: D, dtype: int64

In [ ]:
s.values

array([100, 300, 500])

In [ ]:
s[0]

100

In [ ]:
s[0:3]

2020-09-24    100
2020-09-25    300
2020-09-26    500
Freq: D, dtype: int64

In [ ]:
s['20200924']

100

In [ ]:
s['20200924':'20200925']

2020-09-24    100
2020-09-25    300
Freq: D, dtype: int64

In [ ]:
np.random.randint(0,10,size=10)

array([3, 0, 2, 2, 4, 8, 6, 4, 1, 0])

In [ ]:
s.where(s>200,'low')

2020-09-24    low
2020-09-25    300
2020-09-26    500
Freq: D, dtype: object

##DataFrame

In [2]:
import pandas as pd
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [9]:
s=pd.Series([1,2,3,4,5],index=list('ABCDE'),name='colume')
s

A    1
B    2
C    3
D    4
E    5
Name: colume, dtype: int64

In [10]:
pd.DataFrame(s)

   colume
A       1
B       2
C       3
D       4
E       5

In [14]:
s.index.name='index'
s

index
A    1
B    2
C    3
D    4
E    5
Name: colume, dtype: int64

In [15]:
pd.DataFrame(s)

       colume
index
A           1
B           2
C           3
D           4
E           5

In [17]:
pd.DataFrame([[1,2,3],[4,5,6]]) #data 정의

   0  1  2
0  1  2  3
1  4  5  6

In [18]:
pd.DataFrame([[1,2,3],[4,5,6]],index=['A','B']) #index 정의

   0  1  2
A  1  2  3
B  4  5  6

In [20]:
pd.DataFrame([[1,2,3],[4,5,6]],index=['A','B'], columns=['a','b','c']) #column 정의

   a  b  c
A  1  2  3
B  4  5  6

In [47]:
df=pd.DataFrame([[1,2,3],[4,5,6]],index=['A','B'], columns=['a','b','c'])
df                                                                    #dataframe 정의

   a  b  c
A  1  2  3
B  4  5  6

In [48]:
df.index.name='index'
df                                                                    #df의 index 이름 정의

       a  b  c
index
A      1  2  3
B      4  5  6

In [49]:
df.columns.name='columns'
df                                                                   #df의 columns 이름 정의

columns  a  b  c
index
A        1  2  3
B        4  5  6

In [50]:
df['a']  #df중 일부를 불러올때, 대괄호 안에 column을 쓴다

index
A    1
B    4
Name: a, dtype: int64

In [51]:
df[['a','c']]  #df중 일부(다중)를 불러올때, 대괄호 안에 리스트[]를 쓴다

columns  a  c
index
A        1  3
B        4  6

In [52]:
pd.DataFrame({'a':[1,4],'b':'value'}) #시리즈와 다르게 columns 이름으로 정의함.

   a      b
0  1  value
1  4  value

In [33]:
pd.DataFrame({'A':1,
              'B':pd.Timestamp('20201008'),
              'C':pd.Series(1,index=list(range(4)),dtype='float32'),
              'D':pd.Categorical(['test','train','test','train']),
              'E':'foo'})

   A          B    C      D    E
0  1 2020-10-08  1.0   test  foo
1  1 2020-10-08  1.0  train  foo
2  1 2020-10-08  1.0   test  foo
3  1 2020-10-08  1.0  train  foo

In [53]:
df

columns  a  b  c
index
A        1  2  3
B        4  5  6

In [54]:
df.set_index('b',inplace=True)
df

columns  a  c
b
2        1  3
5        4  6

In [55]:
df.reset_index()

columns  b  a  c
0        2  1  3
1        5  4  6

In [58]:
dates=pd.date_range('2020-09-01',periods=6,freq='M')
dates

DatetimeIndex(['2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31',
               '2021-01-31', '2021-02-28'],
              dtype='datetime64[ns]', freq='M')

In [59]:
dates=pd.date_range('2020-09-01',periods=6,freq='Y')
dates

DatetimeIndex(['2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [60]:
dates=pd.date_range('2020-09-01',periods=6,freq='D')
dates

DatetimeIndex(['2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06'],
              dtype='datetime64[ns]', freq='D')

In [61]:
dates=pd.date_range('2020-09-01',periods=6,freq='YS')
dates

DatetimeIndex(['2021-01-01', '2022-01-01', '2023-01-01', '2024-01-01',
               '2025-01-01', '2026-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [62]:
dates=pd.date_range('2020-09-01',periods=6,freq='MS')
dates

DatetimeIndex(['2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01', '2021-02-01'],
              dtype='datetime64[ns]', freq='MS')

In [80]:
dates=pd.date_range('2020-09-01',periods=6,freq='D')
dates

DatetimeIndex(['2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06'],
              dtype='datetime64[ns]', freq='D')

In [81]:
df=pd.DataFrame(np.random.randn(6,4))
df

          0         1         2         3
0  0.196776 -1.132624  0.338515  1.104691
1 -0.136616 -0.027858  0.021050  0.075977
2 -0.352913 -0.507260  0.479511  1.463569
3 -0.177271  0.088894  0.153247  0.293179
4 -0.968954  0.809356 -0.462965  0.983880
5  0.630398  0.185792 -0.239948  1.949999

In [82]:
df=pd.DataFrame(np.random.randn(6,4),index=dates)
df

                   0         1         2         3
2020-09-01 -0.199645 -0.467448 -0.535101 -0.364506
2020-09-02  0.574671 -0.495322  0.687722 -2.115450
2020-09-03  0.542446  0.901919  0.604230  0.799819
2020-09-04 -1.289036 -0.159467 -0.726870 -2.262763
2020-09-05  1.448477  0.134547  0.633971  0.618210
2020-09-06 -0.478319  0.359444 -0.332498  0.774897

In [83]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2020-09-01  0.794515 -0.265678  1.474843 -1.220761
2020-09-02 -1.059701  0.521147 -0.172200  0.810255
2020-09-03 -0.106998 -0.122412 -0.027361 -0.711471
2020-09-04 -0.176444  0.330093  1.249036  0.699031
2020-09-05  0.530384 -1.303929  0.401604  1.831970
2020-09-06 -1.037978  1.739834 -1.352190 -0.819714

In [84]:
type(df)

pandas.core.frame.DataFrame

In [85]:
df.shape

(6, 4)

In [86]:
df.ndim

2

In [87]:
df.size

24

In [88]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [89]:
df['A']

2020-09-01    0.794515
2020-09-02   -1.059701
2020-09-03   -0.106998
2020-09-04   -0.176444
2020-09-05    0.530384
2020-09-06   -1.037978
Freq: D, Name: A, dtype: float64

In [90]:
df['20200902':'20200903'] #df['20200902']처럼 원하는 하나에 대해서는 못봄. 이를 슬라이스로 해서 볼 수 있음

                   A         B         C         D
2020-09-02 -1.059701  0.521147 -0.172200  0.810255
2020-09-03 -0.106998 -0.122412 -0.027361 -0.711471

In [128]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2020-09-01  0.320297  0.018141 -0.414740 -0.260174
2020-09-02  1.195458 -1.042779 -0.765137 -2.060010
2020-09-03 -0.033343 -1.605023 -1.127401  0.967518
2020-09-04 -0.352853  0.710709  0.447927 -0.725941
2020-09-05  0.524694 -0.519148 -0.915138  0.378631
2020-09-06 -1.907442  0.191459 -0.745368  0.387563

In [97]:
df.loc['20200901','A'] #location 을 사용한 slice

0.914553898475081

In [101]:
df.loc['20200901':'20200903':2,'A']

2020-09-01    0.914554
2020-09-03    0.685667
Freq: 2D, Name: A, dtype: float64

In [103]:
df.loc['20200901':'20200903':2,'A':'D']

                   A        B         C         D
2020-09-01  0.914554 -0.87454 -0.468948  0.927488
2020-09-03  0.685667 -1.89870  2.207310  0.204740

In [104]:
df.loc[['20200901','20200903'],['A','C']]

                   A         C
2020-09-01  0.914554 -0.468948
2020-09-03  0.685667  2.207310

In [105]:
df.iloc[0,0] #iloc (index location)

0.914553898475081

In [106]:
df.iloc[0:2,0]

2020-09-01    0.914554
2020-09-02   -0.632466
Freq: D, Name: A, dtype: float64

In [107]:
df.iloc[0:2,0:]

                   A         B         C         D
2020-09-01  0.914554 -0.874540 -0.468948  0.927488
2020-09-02 -0.632466  0.111062  0.392739  0.165402

In [108]:
df.iloc[0:2,0:2]

                   A         B
2020-09-01  0.914554 -0.874540
2020-09-02 -0.632466  0.111062

In [112]:
df.iloc[-1::-1,-1::-1]

                   D         C         B         A
2020-09-06  0.054553 -0.014884  1.265860 -1.243596
2020-09-05 -2.370352 -1.317048 -0.466634 -2.667492
2020-09-04 -0.141837 -0.109299  0.821379 -0.430391
2020-09-03  0.204740  2.207310 -1.898700  0.685667
2020-09-02  0.165402  0.392739  0.111062 -0.632466
2020-09-01  0.927488 -0.468948 -0.874540  0.914554

In [113]:
df.iloc[-1::-1,:]

                   A         B         C         D
2020-09-06 -1.243596  1.265860 -0.014884  0.054553
2020-09-05 -2.667492 -0.466634 -1.317048 -2.370352
2020-09-04 -0.430391  0.821379 -0.109299 -0.141837
2020-09-03  0.685667 -1.898700  2.207310  0.204740
2020-09-02 -0.632466  0.111062  0.392739  0.165402
2020-09-01  0.914554 -0.874540 -0.468948  0.927488

In [114]:
df.head() #처음부터 몇개까지만 봄

                   A         B         C         D
2020-09-01  0.914554 -0.874540 -0.468948  0.927488
2020-09-02 -0.632466  0.111062  0.392739  0.165402
2020-09-03  0.685667 -1.898700  2.207310  0.204740
2020-09-04 -0.430391  0.821379 -0.109299 -0.141837
2020-09-05 -2.667492 -0.466634 -1.317048 -2.370352

In [115]:
df.head(3)

                   A         B         C         D
2020-09-01  0.914554 -0.874540 -0.468948  0.927488
2020-09-02 -0.632466  0.111062  0.392739  0.165402
2020-09-03  0.685667 -1.898700  2.207310  0.204740

In [116]:
df.tail() #끝에서부터 몇개까지만 봄

                   A         B         C         D
2020-09-02 -0.632466  0.111062  0.392739  0.165402
2020-09-03  0.685667 -1.898700  2.207310  0.204740
2020-09-04 -0.430391  0.821379 -0.109299 -0.141837
2020-09-05 -2.667492 -0.466634 -1.317048 -2.370352
2020-09-06 -1.243596  1.265860 -0.014884  0.054553

In [117]:
df.tail(3)

                   A         B         C         D
2020-09-04 -0.430391  0.821379 -0.109299 -0.141837
2020-09-05 -2.667492 -0.466634 -1.317048 -2.370352
2020-09-06 -1.243596  1.265860 -0.014884  0.054553

In [118]:
df.describe() #칼럼별로 데이터의 평균, 표준편차, 최소값 등을 보여줌

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.562287 -0.173595  0.114978 -0.193334
std    1.315815  1.157257  1.175911  1.126668
min   -2.667492 -1.898700 -1.317048 -2.370352
25%   -1.090813 -0.772563 -0.379036 -0.092739
50%   -0.531428 -0.177786 -0.062092  0.109978
75%    0.406652  0.643800  0.290833  0.194905
max    0.914554  1.265860  2.207310  0.927488

In [119]:
df.T #칼럼과 인덱스 바꾸기 (행열바꾸기)

   2020-09-01  2020-09-02  2020-09-03  2020-09-04  2020-09-05  2020-09-06
A    0.914554   -0.632466    0.685667   -0.430391   -2.667492   -1.243596
B   -0.874540    0.111062   -1.898700    0.821379   -0.466634    1.265860
C   -0.468948    0.392739    2.207310   -0.109299   -1.317048   -0.014884
D    0.927488    0.165402    0.204740   -0.141837   -2.370352    0.054553

In [120]:
df

                   A         B         C         D
2020-09-01  0.914554 -0.874540 -0.468948  0.927488
2020-09-02 -0.632466  0.111062  0.392739  0.165402
2020-09-03  0.685667 -1.898700  2.207310  0.204740
2020-09-04 -0.430391  0.821379 -0.109299 -0.141837
2020-09-05 -2.667492 -0.466634 -1.317048 -2.370352
2020-09-06 -1.243596  1.265860 -0.014884  0.054553

In [122]:
df.sort_index()

                   A         B         C         D
2020-09-01  0.914554 -0.874540 -0.468948  0.927488
2020-09-02 -0.632466  0.111062  0.392739  0.165402
2020-09-03  0.685667 -1.898700  2.207310  0.204740
2020-09-04 -0.430391  0.821379 -0.109299 -0.141837
2020-09-05 -2.667492 -0.466634 -1.317048 -2.370352
2020-09-06 -1.243596  1.265860 -0.014884  0.054553

In [123]:
df.sort_index(ascending=False)

                   A         B         C         D
2020-09-06 -1.243596  1.265860 -0.014884  0.054553
2020-09-05 -2.667492 -0.466634 -1.317048 -2.370352
2020-09-04 -0.430391  0.821379 -0.109299 -0.141837
2020-09-03  0.685667 -1.898700  2.207310  0.204740
2020-09-02 -0.632466  0.111062  0.392739  0.165402
2020-09-01  0.914554 -0.874540 -0.468948  0.927488

In [127]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2020-09-01  0.927488 -0.468948 -0.874540  0.914554
2020-09-02  0.165402  0.392739  0.111062 -0.632466
2020-09-03  0.204740  2.207310 -1.898700  0.685667
2020-09-04 -0.141837 -0.109299  0.821379 -0.430391
2020-09-05 -2.370352 -1.317048 -0.466634 -2.667492
2020-09-06  0.054553 -0.014884  1.265860 -1.243596

In [129]:
df

                   A         B         C         D
2020-09-01  0.320297  0.018141 -0.414740 -0.260174
2020-09-02  1.195458 -1.042779 -0.765137 -2.060010
2020-09-03 -0.033343 -1.605023 -1.127401  0.967518
2020-09-04 -0.352853  0.710709  0.447927 -0.725941
2020-09-05  0.524694 -0.519148 -0.915138  0.378631
2020-09-06 -1.907442  0.191459 -0.745368  0.387563

In [133]:
df.sort_values('A',ascending=False)

                   A         B         C         D
2020-09-02  1.195458 -1.042779 -0.765137 -2.060010
2020-09-05  0.524694 -0.519148 -0.915138  0.378631
2020-09-01  0.320297  0.018141 -0.414740 -0.260174
2020-09-03 -0.033343 -1.605023 -1.127401  0.967518
2020-09-04 -0.352853  0.710709  0.447927 -0.725941
2020-09-06 -1.907442  0.191459 -0.745368  0.387563

In [134]:
df

                   A         B         C         D
2020-09-01  0.320297  0.018141 -0.414740 -0.260174
2020-09-02  1.195458 -1.042779 -0.765137 -2.060010
2020-09-03 -0.033343 -1.605023 -1.127401  0.967518
2020-09-04 -0.352853  0.710709  0.447927 -0.725941
2020-09-05  0.524694 -0.519148 -0.915138  0.378631
2020-09-06 -1.907442  0.191459 -0.745368  0.387563

In [135]:
df['A']>0

2020-09-01     True
2020-09-02     True
2020-09-03    False
2020-09-04    False
2020-09-05     True
2020-09-06    False
Freq: D, Name: A, dtype: bool

In [136]:
df[df['A']>0]

                   A         B         C         D
2020-09-01  0.320297  0.018141 -0.414740 -0.260174
2020-09-02  1.195458 -1.042779 -0.765137 -2.060010
2020-09-05  0.524694 -0.519148 -0.915138  0.378631